.home {
  position: absolute;
  top: 70px;
  color: white;
  width: 100%;
  height: calc(100% - 70px);
  background-image: url("../Media/newback.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // z-index: 1;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 768px) {
    position: static;
    height: 160vw;
  }
  align-items: center;
  justify-items: start;
}
.img {
  max-width: 300px;
  width: 45vw;
  margin: 30px;
  height: auto;
}

.title {
  margin: 0;
  font-size: min(5em, 10vw);
  // @media (min-width: 1024) {
  //   font-size: 2vw;
  // }
}
.line {
  display: flex;
  align-items: center;
  gap: 7px;
}
.email {
  font-weight: 500;
  font-size: 1.3em;
}
.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-row: 1 / 2;
  grid-column: 1;
}
.container2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2;
}
.footer {
  bottom: 0px;
  position: absolute;
  justify-self: center;
}
a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5em;
  transition: 0.3s;
  color: goldenrod;
  cursor: pointer;
  &:hover {
    color: white;
    transition: 0.3s;
  }
}
.links {
  color: white;
  flex-direction: column;
  text-align: left;
}

.description {
  margin: 10px auto;
  margin-top: 0px;
  white-space: nowrap;
  padding: 0px 5px;
  padding-left: calc(5px + 0.15em);
  border-right: 0.15em solid transparent;
  // width: 0%;
  animation: typing 2.5s steps(35, end), blink-caret 1s step-end 4;
  position: relative;
  font-size: 1.4em;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: goldenrod;
  }
  50% {
    border-color: transparent;
  }
}
