.popup {
  position: fixed;
  background: #00000099;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // transition: all 2s;
}
.msg {
  font-weight: 500;
}
.img {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  // margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 2px;
  // border: 1px solid #999;
  overflow: auto;
  align-self: center;
}
